/home/karlie/Alx-pre_course /home/karlie/alx-zero_day /home/karlie/chattel /home/karlie/crypto-repo /home/karlie/Desktop /home/karlie/Documents /home/karlie/Downloads /home/karlie/Fallon-repo /home/karlie/Music /home/karlie/Pictures /home/karlie/Public /home/karlie/readme.md /home/karlie/README.md /home/karlie/snap /home/karlie/Templates /home/karlie/Videos /home/karlie/zero_day
